.view-control {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.viewControl__button-wrapper {
  display: inline-flex;
  position: relative;
  height: 100%;
  align-items: center;
}

.viewControl__button-wrapper:hover > .view-actions > .view-actions__button {
  opacity: 1;
  transform: translate(0%, 0%);
}
