.placer {
  position: absolute;
  padding: 0.5rem;
  left: 1rem;
  user-select: none;
}

.placer[draggable='true'] {
  transition: background 0.08s linear;
}

.placer[draggable='true']:hover {
  background: #ffffff50;
  cursor: move;
}

.placer[draggable='true']:active {
  opacity: 0.5;
  background: #ffffff80;
  transform: translate(-1px, -4px);
}

.placer[draggable='true']:hover > .module-actions > * {
  transform: translate(0%, 0%) scale(100%);
  opacity: 1;
}

.placer[draggable='true']:active > .module-actions > * {
  transition: none !important; /* override MUI */
  opacity: 0;
}
