.placer {
  position: absolute;
  padding: 0.5rem;
  left: 1rem;
}

.placer[draggable='true'] {
  touch-action: none;
}

.placer[draggable='true']:hover {
  background: #ffffff80;
  cursor: move;
}

.placer[draggable='true']:hover > *:not(.placer__controls) {
  pointer-events: none;
}

.placer[draggable='true']:active {
  opacity: 0.5;
  background: white;
  box-shadow: 1px 4px 5px -1px #454545;
  transform: translate(-1px, -4px);
}

.placer__controls {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transform: translate(50%, -50%);
}

.placer[draggable='true']:hover > .placer__controls {
  opacity: 1;
  pointer-events: all;
}

.placer[draggable='true']:active > .placer__controls {
  visibility: hidden;
}
