.dark-theme {
  --html-background-color: black;
  --view-background-color: hsl(275, 100%, 10%);
  --button-color-accent: #0ff;
  --button-color-accent-transparent: #0ffa;
}

.light-theme {
  --html-background-color: white;
  --view-background-color: hsl(275, 100%, 90%);
  --button-color-accent: dodgerblue;
  --button-color-accent-transparent: rgba(30, 143, 255, 0.6);
}
