.settings__controls {
  display: flex;
  gap: 0.5rem;
}

.settings__controls.row-reversed {
  flex-direction: row-reverse;
}

.settings__dialog-content {
  display: grid;
  gap: 1rem;
}

.settings__general {
  display: grid;
}
