.module-actions {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(50%, 25%);
  display: grid;
  gap: 0.5rem;
}

.module-actions__button {
  transition: transform 0.08s ease-in-out calc(var(--order) * 0.08s), opacity 0.1s linear !important; /* override MUI */
  opacity: 0;
  transform: translate(-50%, calc((var(--order) - 1) * -50%)) scale(0%);
}
