:root {
  --z-index-nav: 1;
  --animation-speed: 0.08s;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  background-color: var(--html-background-color);
  color: var(--text-color);
}

@media only screen and (min-width: 1000px) {
  html {
    font-size: 1.3em;
  }
}

body {
  margin: 0;
  height: 100%;
  font-family: 'Nunito', -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

#app,
#root {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
